
.main-list{
    width: 100%;
    display: flex;
}
.active{
   position: relative;
   width:100vw;
   
    padding: 10px;
    border: 1px solid green;
    margin-top:1%;

   

}

.btn{
    width: 50%;
    margin-left: auto;
    
   
    
}

.inact{
    display: none;
}
