<div class="container">
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" routerLink="home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="active">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="deleted">Deleted</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="manage/userlist">Manage</a>
    </li>
    
  </ul>

</div>

<router-outlet></router-outlet>