
.main-list{
    width: 100%;
    display: flex;
}
.active{
  
display: none;
   

}

.btn{
    width: 50%;
    margin-left: auto;
   
    
   
    
}

.inact{
    position: relative;
    width:100vw;
    
     padding: 10px;
     border: 1px solid red;
     margin-top:1%;
}
